<html>
<head></head>
<body>

  <h1>Add New Post</h1>

  <div>
    <a href="/">View All Posts</a>
    <a href="/new">Add New Post</a>
  </div>

  <form action="/" method="POST">
      <input type="text" name = "title" placeholder="Blog Title" />
      <textarea rows="20" cols="75" name = "body"></textarea>
      <input type="submit" value="Submit" />
  </form>


</body>
</html>
